:root {
    --primary-text-color: #2E2F42;
        --primary-bg-color: #ffffff;
        --hero-background-color: #2E2F42;
        --team-background-color: #F4F4FD;
        --accent-color: #4D5AE5;
        --accent-color-btn: #404BBF;
        --description-features: #2E2F42;
        --address-color: #434455;
        --btn-background-color: #E7E9FC 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
        font-family: 'Roboto', sans-serif;
        background-color: var(--primary-bg-color);
        color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
}

.nav-header {
    display: flex;
    margin-right: auto;
}

.logo {
    display: block;
    padding: 24px 0;
    margin-right: 76px;
    margin-left: 156px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo-first-part {
    color: var(--accent-color);
}

.logo-second-part {
    color: var(--primary-text-color);
}

.menu-navigation {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.menu-nav {
    display: flex;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.address-navigation {
display: flex;
gap: 40px;
padding: 24px 0;
justify-content: flex-end;
}

.address-nav {
    display: flex;
     color: var(--address-color);
     text-decoration: none;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.address-nav:hover {
    color: var(--accent-color);
}

.menu-nav:hover {
    color: var(--accent-color);
}

.menu-nav:active {
    color: var(--accent-color-btn);
}

.title{
    height: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    text-align: center
}

.title-desc {
    width: 500px;
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.main-btn {
    display: inline-block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    padding: 16px 32px;
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.main-btn:hover {
 background-color: var(--accent-color-btn);
 color: white;
}

.main-btn:focus {
    color: var(--accent-color);
}

/* 2 cекція */

.features{
    display: flex;
    gap: 24px;
}

.features-titles {
    color: var(--primary-text-color);
    padding-top: 120px;
    padding-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.features-desc {
    color: var(--description-features);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* 3 секція */

.title-aboutus {
    padding-top: 120px;
    padding-bottom: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.about-us{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    
}

.cards-aboutus {
padding-bottom: 120px;
}

/* секція 4 */

.team-items {
    display: flex;
    gap: 24px;
}

.team-name{
    padding: 32px 16px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    }

.our-team {
    background-color: var(--team-background-color);
}

.title-names {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.card-desc {
    text-align: center;
    color: var(--address-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* футер наконец-то*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--hero-background-color);
}

.footer-desc {
    padding-top: 16px;
    width: 264px;
    margin-left: 156px;
    color: var(--btn-background-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.logo-second-part-footer {
    text-decoration: none;
        color: #ffffff;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
}

/* ПОРТФОЛІО */


.nav-buttons {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        color: var(--accent-color);
        background: var(--team-background-color);
        border-radius: 4px;
        border: var(--btn-background-color);
    }

.nav-buttons:hover,
.nav-buttons:focus {
color: var(--primary-bg-color);
background-color: var(--accent-color);
}

.caption-cards {
    color: var(--description-features);
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-desc {
    color: var(--address-color);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
